# Build Folders
bin/
obj/
Debug/
Release/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.vscode/

# Rider IDE
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Test results
TestResults/
*.trx

# Others
*.vs/
*.DS_Store
